.metadata
.settings
[Rr]elease
[Dd]ebug
.launch
.cproject
.mxproject
.vscode
.project
Drivers/code_generation/peripheralmap.cpp
Drivers/code_generation/pinmap.h
**/__pycache__
Drivers/code_generation/input
build
build*
Drivers/code_generation/test_dst/
Drivers/code_generation/test_src/
.DS_Store
